@font-face {
    font-family: GameOfThrones;
    src: url(/fonts/got.ttf);
}

body {
    background-image: url("/assets/site/mapblue.jpg");
    position: fixed;
    margin: 0;
    padding: 0;
}

.characters {
    padding: 5px 355px 120px 5px;
}

.side-panel {
    background-color: #39393A;
    right: 0;
    top: 0;
    height: 100%;
    width: 350px;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

.search {
    position: absolute;
    bottom: 20px;
}

.character {
    text-align: center;
    width: 12.5%;
    margin-bottom: 10px;
    float: left;
    cursor: crosshair;
}

.character>img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 1s;
}

.character:hover img {
    box-shadow: 9px 9px 100px 9px rgba(0, 0, 0, 0.75);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.character>div {
    text-transform: uppercase;
    color: rgb(127, 105, 97);
    font-size: 9px;
    font-weight: bold;
    font-family: GameOfThrones;
    letter-spacing: 1px;
    line-height: 1.4em;
    min-height: 2.8em;
}

h3 {
    font-family: GameOfThrones;
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
}

.name>span {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-bottom: 15px;
}

.name>img {
    float: right;
}

.character-image>img {
    width: 100%;
}

.characters>div.active {
    color: rgb(50, 34, 17);
    font-weight: 900;
}

input {
    width: 200px;
    padding: 5px;
}

button {
    padding: 5px;
}